__pycache__/
*.pyc

venv/
.env

chat.db

faiss_index/
faiss_index_*/

*.pdf
*.docx
*.txt
*.csv

.DS_Store

faiss_indexes/
faiss_index/
faiss_index_*/

*.db
data/nl2sql_dbs/
faiss_indexes/
__pycache__/sql_uploads/
tests/
